@charset "UTF-8";

.contents_area{
    width: 100%;
    display: flex;
}

.soon{
	width:1700px;
	display:flex;
	margin: auto;
	margin-top: 40px;
	text-align: center;
}


.contents{
    width: 1400px;
    float:right;
	margin-top: 3px;
	text-align: center;
	font-size: 12px;
}

.contents .caption {
	width: 100%;
	text-align: center;
    margin: 15px 0 10px 0;
    font-size: 24px;
    color: rgb(49, 49, 49);
    font-weight: 300;
}

.mypagesidebar0 h3{
	font-size: 18px;
    color: #52616b;
    cursor: pointer;
}

.mypagesidebar0 h3:hover{
	padding-left: 25px;
}


.mypagesidebar0{
	width: 250px;
    text-align: center;
    float:left;
    margin-top: 25px;
    margin-right: 50px;
}
.sidebardiv1 {
  background-color: whitesmoke;
    width: 250px;
    height: 60px;
    border: 1px solid #f9f9fb;
    text-align: center;
}

.mypage_sidebar_a, .mypage_sidebar_b {
    text-decoration: none;   
}

.mypagesidebar_ul {
    list-style-type: none;
    padding: 0px;
    margin-top: 35px;

}

summary {
    cursor: pointer;
    height:25px;
    list-style: none;
  }
  
  summary h3{
	height:25px;
}

  summary::-webkit-details-marker {
    display: none;
  }

  .mypage_sidebar_a:link {
    color:black;
 }

 .mypage_sidebar_a:visited {
    color:black;
  }

  .mypage_sidebar_b:link {
    color:rgb(150, 145, 145)
 }

 .mypage_sidebar_b:visited {
    color:rgb(150, 145, 145)
  }
  
.paging {
	margin-top : 30px;
} 

.search_wrap {
	width: 100%;
	margin: auto;
}  

 
.pageInfo{
  	list-style : none;
  	display: inline-block;
    margin: 50px 0 0 0;
  }
  
.pageInfo ul {
	padding: 0px;
	margin: 0px;
}

.pageInfo li{
	display: inline-block;  
  	width: 10px;
    font-size: 20px;
    margin: auto;
    padding: 7px;
    font-weight: 500;
  }

 a:link {color:black; text-decoration: none;}
 a:visited {color:black; text-decoration: none;}

  
  .active{
  	background-color: #cdd5ec;
  }
  
  .admin_btn{
	background: #007ac9;
    border-radius: 5px;
    color: #fff;
    border:none;
    padding:3px 5px;
}