  .main_tit{
	margin-top: 50px;
}
  
  .mainboard {
        width: 1000px;
        margin: 0 auto;
        text-align: center;
    }

    .board1 {
        display: flex;
        margin: 0;
        padding: 0;
        height: 100px;
        border: 1px solid gainsboro;
    }
    .board_img {
        background-size: cover;
        height: 100px;
        width: 100px;
        

    }
    .boardcontent {
        display: block;
        text-align: left;
        padding-left: 30px
         
    }
    .cartegory {
        font-size: small; 
    }

    .board_title {
        
        width:100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;  
        font-size: small;
          
    }

    .boardmaintext {
        overflow: hidden;
        width: 700px;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; 
        -webkit-box-orient: vertical;
        margin: 3px;
        font-size: small;
    }
    
    .userName {
        font-size: small;
        margin: 3px;

    }

    .button_list {
        width: 1000px;
        flex-direction: row;
        
    }
    .community_ul {
        background-color: aliceblue;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    .community_li {
    float: left;
    padding-right: 25px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    }

    .community_li a {
        display: block;
        background-color: aliceblue;
        color: black;
        text-decoration: none;
        text-align: center;
        font-weight: bold;
    }
    .community_li a:hover {
        
        color: white;
    }

.paging {
	margin-top : 30px;
}

.pageInfo{
  	list-style : none;
  	display: inline-block;
    margin: 50px 0 0 0;
    width: 100%;
  }
  
.pageInfo ul {
	padding: 0px;
	margin: 0px;
}

.pageInfo li{
	display: inline-block;  
  	width: 10px;
    font-size: 20px;
    margin: auto;
    padding: 7px;
    font-weight: 500;
    
  }
  
  .pageInfo li a{
   text-decoration: none;
   color:black;
  }
  
 .community_bottom_div {
 margin:0 auto;
 text-align: center;
 
 }

.boardthumimg {
width: 100px;
height: 100px;
}

 pageInfo li a:link {color:black; text-decoration: none; }
 pageInfo li a:visited {color:black; text-decoration: none;}
 pageInfo li a:hover {color:black; text-decoration: underline;}
  
  .active{
  	background-color: #cdd5ec;
  	
  	}
  	
  	 #write_button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: #007ac9;
	color: white;
	margin-left: 920px;
	padding: 0.5rem 1rem;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 0.9rem;
	font-weight: 400;
	text-align: center;
	text-decoration: none;
	border: none;
	border-radius: 4px;
	display: inline-block;
	width: auto;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px
		rgba(0, 0, 0, 0.06);
	cursor: pointer;
	transition: 0.5s;
}

#write_button:active, #write_button:hover, #write_button:focus {
	background: orange;
	outline: 0;
}

#write_button:disabled {
	opacity: 0.5;
}
  	
  	