@charset "UTF-8";
fieldset{
    width:450px;
}

legend {
    font-size:14px;
}

 .login_wrap {
    width: 468px;
    margin: 0 auto;
    padding: 50px 0 0;
}

.login_wrap h2 {
    margin-bottom: 10px;
    font-size: px;
    color: #333;
    font-weight: 400;
    text-align:center;
    margin-bottom:45px;

}

#idChk1, #nameChk1, #nameChk2, #phoneChk1{
	display:none;
}

.txt_check {
    color: red;
}

input#phone {
    width: 400px;
}

input#phone2 {
    width: 320px;
}

.login_wrap .tablist {
    margin-bottom: 10px;
}

.login_wrap .tablist a {
    position: relative;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 13px;
    margin-bottom: 20px;
    font-size: 16px;
    text-align: center;
    color: #666;
    border-bottom: 1px solid #000;
   
}

ul.tablist.col2 {
    margin-left:42px;
}

.login_wrap .tablist.col2 li {
    width: 50%;
}

.login_wrap .tablist li {
    position: relative;
    float: left; 
}




.tab_wrapper ul {
    display: block;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.tab_wrapper ul li {
    list-style-type: none;
    
}

.tab_wrapper li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.tablist a {
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    color: #666;
}

.find_id_pwd label {
    margin-bottom: 12px;
    color: #000;
    font-size: 16px;
    display: inline-block;
    margin-right: 20px;
}

.find_id_pwd .input {
    height: 30px;
    width:400px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 9px 19px;
    border: 1px solid #ddd;
    font-size: 14px;
    height: 30px;
    color: #333;
}

input#inp_phone01 {
    height: 30px;
    width: 300px;
}

input#inp_phone02 {
    width: 320px;
}

.inputbt {
    background-color: #2478c6;
    border: none;
    width: 96px;
    height: 49px;
    color: white;
}

.inputbt2 {
    background-color: #2478c6;
    border: none;
    width: 75px;
    height: 49px;
    color: white;
}

.login_wrap label {
    display: block;
    padding-top: 15px;
    font-size: 14px;
    color: #333;
    font-weight: 600;
}


.radio + span {
    display: inline-block;
    position: relative;
    padding-left: 10px;
    cursor: pointer;
    font-size: 14px;
    color: #333;
 
}


#inp_bt, #loginSubmit2 {
   	width: 100px;
    border: none;
    margin-left: 112px;
    cursor: pointer;
    height: 30px;
    font-size: 14px;
    margin-bottom: 30px;
    padding-bottom: 36px;
    padding-top: 20px;
    margin-top: 40px;
    background-color: #2478c6;
    color: rgb(255, 255, 255);
}

#inp_bt+#loginSubmit2 {
    margin-left: 15px;
}
    
    
    
