@charset "UTF-8";

.guideline_pay1 {
    width: 1100px;
    margin: auto;

}
.guideline_ul {
    color: rgb(56, 56, 56);
    width: 900px;
}
.guideline_pay2 {
    border: 1px solid gainsboro;
    width: 900px;
}
.guideline_pay_img {
    width: 900px;
    height: 250px;
}
.guideline_pc_sec {
    width: 1100px;
    margin: auto;
}
.guideline_reservation_sec {
    width: 1100px;
    margin: auto;
}
.guideline_reservation_img {
    width: 800px;
}
.guideline_air_sec {
    width: 1100px;
    margin:auto;
}