@charset "UTF-8";

.contents_area{
    width: 100%;
    display: flex;
}
.soon{
	width:1200px;
	display:flex;
	margin: auto;
	margin-top: 40px;
}

.contents{
    width: 900px;
}


.mypagesidebar0{
	width: 250px;
    text-align: center;
    display: flex;
    margin-right: 50px;
	margin-top: 50px
}

.sidebardiv1 {
  	background-color: whitesmoke;
    width: 250px;
    height: 60px;
    border: 1px solid whitesmoke;
    text-align: center;
}

.mypage_sidebar_a, .mypage_sidebar_b {
    text-decoration: none;   
}

.mypagesidebar_ul {
	
    list-style-type: none;
    padding: 0px;
    margin-top: 35px;

}

summary {
    cursor: pointer;
    height:25px;
    list-style: none;
  }
  
  summary h3{
	height:25px;
}

  summary::-webkit-details-marker {
    display: none;
  }

  .mypage_sidebar_a:link {
    color:black;
 }

 .mypage_sidebar_a:visited {
    color:black;
  }

  .mypage_sidebar_b:link {
    color:rgb(150, 145, 145)
 }

 .mypage_sidebar_b:visited {
    color:rgb(150, 145, 145)
  }


.bmypagesidebar0 {
	width: 250px;
    text-align: center;
    display: flex;
    margin-right: 50px;
    margin-top: 27px;
}


